<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Sample JSF 2 Filter login app</display-name>

	<!-- Login filter -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.itcuties.examples.webapps.filterlogin.filters.LoginFilter</filter-class>
	</filter>
	<!-- Set the login filter to secure all the pages in the /secured/* path of the application  -->
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/secured/*</url-pattern>
	</filter-mapping>

	<!-- By default go to secured welcome page -->
	<welcome-file-list>
		<welcome-file>secured/welcome.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Staring JSF -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- JSF URL mapping -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

</web-app>
